# Python
*.py[cod]
*$py.class
__pycache__/
.Python
.python-version
.mypy_cache/
.dmypy.json
dmypy.json
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.mo
*.pot

# Django
*.log
db.sqlite3
media
*.pot

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Backup Files
*.bak

# Environment Files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Celery
celerybeat-schedule
celerybeat-schedule.*

# SageMath Parsed Files
*.sage.py

# mkdocs Documentation
/site

# Spyder Project Settings
.spyderproject
.spyproject

# Rope Project Settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pyre Type Checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Static Files
staticfiles/

# PyInstaller
*.spec

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IntelliJ and PyCharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
out/
*.iws
atlassian-ide-plugin.xml

# Package Control (Sublime Text)
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
Package Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings
